.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: black !important;
}

.modalButtons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.cancelButton {
  padding: 8px 15px;
  background-color: #999;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.cancelButton:hover {
  background-color: #666 !important; /* más oscuro que #999 */
  color: #fff !important;
}

.submitButton {
  padding: 8px 15px;
  background-color: var(--color-primary);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: white;
}

.submitButton:hover {
  background-color: #1565c0 !important; /* más oscuro que var(--color-primary) */
  color: #fff !important;
}
